@use "@/styles/components/global.scss" as *;

.parkour-game-page {
    position: relative;
    display: flex;

    canvas.fill {
        background-color: rgb(255 255 255 / 35%);
        position: initial !important;
    }

    // .menu-card {
    //     @include media-breakpoint-down(lg) {
    //         display: flex;
    //         position: fixed;
    //         width: 100%;
    //         height: calc(100vh - 100px);
    //         overflow-y: auto;
    //         top: var(--top-position);
    //         left: 0;
    //         transform: translateX(-100%);
    //         transition-duration: 200ms;
    //         z-index: 10;
    //     }

    //     @include media-breakpoint-up(lg) {
    //     }

    //     &.show {
    //         transform: translateX(0%);
    //     }

    //     @include media-breakpoint-up(lg) {
    //         display: initial;
    //         // position: fixed;
    //         // bottom: 0;
    //         // left: 0;
    //         // top: 50px;
    //         width: 300px;
    //         font-size: 0.8rem;
    //         height: calc(100vh - var(--top-position));
    //     }

    //     .camera-controls {
    //         display: grid;
    //         grid-gap: 5px 5px;
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    // }

    .game-content {
        z-index: 1;

        // width: calc(100% - 300px);
        width: 100%;

        // position: absolute;
        // left: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: calc(100vh - 0px);

        @include media-breakpoint-up(lg) {
            // height: calc(100vh - var(--top-position));
        }

        .canvas-three-wrap {
            position: relative;
            border: 1px solid #000;
            background-color: white;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            canvas {
                height: 100% !important;
                width: 100% !important;
            }
        }

        .blocker {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);


            #instructions {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}